.signUp {
  &:link,
  &:visited {
    padding: 0.7rem 1.7rem;
    background-color: $color-text;
    color: $CTA-color;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    font-weight: bold;
  }
  &:hover {
    color: $color-text;
    background-color: $CTA-color-hover;
    transform: scale(1.05);
    z-index: 20;
  }
}

.header__text-box {
  .heading-btn {
    .btn {
      text-decoration: none;
      font-size: 1.4rem;
      margin: 0rem 1rem;
      padding: 1rem 1.5rem;
      border-radius: 1.5rem;
      font-weight: bold;
      transition: 0.3s ease-in-out;
    }

    &--start {
      background-color: $color-text;
      color: $CTA-color;

      &:hover {
        color: $color-text;
        background-color: $CTA-color-hover;
        transform: translateY(20%);
        transform: scale(1.05);
        // z-index: 2;
      }
    }

    &--learn {
      border: 1px solid $color-text;
      color: $color-text;

      &:hover {
        background-color: $color-text;
        color: $CTA-color;
        transform: scale(1.05);
        z-index: 20;
      }
    }
  }
}

.btn {
  width: 100%;
  height: 40px;

  button {
    display: inline-block;
    // width: 80%;
    height: 100%;
    text-align: left;
    padding: 0rem 2rem;
    font-weight: bold;
    border: none;
    border-radius: 0.3rem;
    background-color: lightgray;
    letter-spacing: 1px;
    cursor: pointer;
  }
}

@media (max-width: 425px) {
  .signUp {
    &:link,
    &:visited {
      display: block;
      padding: 1.2rem 3.5rem;
      border-radius: 5rem;
      color: $color-text;
      background-image: linear-gradient(
        to right bottom,
        rgba($button-color, 0.8),
        rgba($button-color-right, 0.8)
      );
    }
  }
  .btn {
    button {
      width: 100%;
      text-align: center;
    }
  }
}
