.header {
  .header__nav {
    border: 2px solid white;
    padding: 0rem 5rem;

    &-left ul {
      li {
        list-style-type: none;
        padding: 0rem 1rem;

        a {
          text-decoration: none;
          font-size: 1.5rem;
          font-weight: bold;
          color: $color-text;
          transition: 0.5s ease-in-out;

          .arrow-dark {
            display: none;
          }

          &:hover {
            border-bottom: 1.5px solid white;
          }
        }

        .dropDown {
          width: 10vw;
          flex-direction: column;
          background-color: $color-text;
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          position: absolute;
          padding: 2rem 0rem;
          margin-top: 2rem;
          margin-left: -3rem;
          transition: 0.8s ease-in-out;
          border-radius: 1rem;

          li {
            text-align: center;
            padding: 0.5rem 0rem;
            a {
              color: black;
            }
          }

          &:hover {
            transform: scale(1.05);
            z-index: 20;
          }
        }
      }
    }

    &-right {
      a {
        margin: 0 1rem;
        text-decoration: none;
        font-size: 1.5rem;
      }
      .login {
        color: $color-text;
      }
    }
  }

  &__text-box {
    .heading-primary {
      &--main {
        display: block;
        font-size: 5rem;
        color: $color-text;
      }
      &--sub {
        color: $color-text;
        display: block;
        font-size: 2rem;
      }
    }
  }
}

.heading-secondary {
  text-align: center;
  display: block;
  font-size: 3.5rem;
  color: $color-heading;
}

.feature-text {
  padding: 4rem 4rem;
  border: 2px solid green;
  margin-top: 3rem;
}

.state-text {
  padding: 10rem 5rem;
  height: 20%;
  color: $color-text;
  // background-color: lightgray;
  // border: 1px solid black;
  // position: absolute;

  .heading-state {
    font-size: 2rem;
  }

  .paragraph {
    font-size: 1.4rem;
  }
}

.footer-blog {
  .heading-footer {
    font-weight: bold;
    font-size: 1.7rem;
    text-align: left;
    color: $footer-text;
  }
  .footer-list {
    ul {
      margin-top: 2.5rem;
      li {
        list-style-type: none;
        padding: 1rem 1rem;
        font-size: 1.3rem;
        color: $footer-text;
      }
    }
  }
}

@media (max-width: 425px) {
  .header {
    .header__nav {
      &-right {
        text-align: center;

        .login {
          display: block;
          color: black;
          padding: 0.5rem;
          margin-bottom: 1.5rem;
        }
      }
    }
    &__text-box {
      .heading-primary {
        &--main {
          display: block;
          font-size: 3rem;
          color: $color-text;
          margin-bottom: 2rem;

          span {
            display: block;
          }
        }
        &--sub {
          color: $color-text;
          display: block;
          font-size: 1.7rem;
          margin-bottom: 4rem;
          span {
            display: block;
          }
        }
      }
    }
  }
  .heading-secondary {
    font-size: 3rem;
  }
  .feature-text {
    text-align: center;
    margin-top: -4rem;
    .heading-tertiary {
      font-size: 3rem;
    }
    .paragraph {
      font-size: 1.7rem;
    }
  }
  .state-text {
    text-align: center;
    margin-top: -10rem;
    padding: 5rem 5rem;
    .heading-state {
      font-size: 3rem;
    }
  }
  .footer-blog {
    .heading-footer {
      font-weight: bold;
      font-size: 1.7rem;
      text-align: center;
    }
    .footer-list {
      ul {
        margin-top: 2rem;
        margin-bottom: 3rem;
        li {
          text-align: center;
        }
      }
    }
  }
}
