.header {
  .header__nav {
    padding: 0rem 5rem;

    &-left {
      ul {
        li {
          list-style-type: none;
          padding: 0rem 1rem;

          a {
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: bold;
            color: $color-text;
            transition: 0.5s ease-in-out;
            .arrow-light {
              display: inline-block;
            }

            .arrow-dark {
              display: none;
            }

            &:hover {
              border-bottom: 1.5px solid white;
            }
          }

          .dropDown {
            width: 10vw;
            flex-direction: column;
            background-color: $color-text;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            position: absolute;
            padding: 2rem 0rem;
            margin-top: 2rem;
            margin-left: -3rem;
            transition: 0.8s ease-in-out;
            border-radius: 1rem;

            li {
              text-align: center;
              padding: 0.5rem 0rem;
              a {
                color: black;
              }
            }

            &:hover {
              transform: scale(1.05);
              z-index: 20;
            }
          }
        }
      }
    }

    &-right {
      a {
        margin: 0 1rem;
        text-decoration: none;
        font-size: 1.5rem;
      }
      .log-in {
        color: $color-text;
        font-weight: bold;
      }
    }
  }

  &__text-box {
    .heading-primary {
      &--main {
        display: block;
        font-size: 5rem;
        color: $color-text;
      }
      &--sub {
        color: $color-text;
        display: block;
        font-size: 2rem;
      }
    }
  }
}

.heading-secondary {
  text-align: center;
  display: block;
  font-size: 3.5rem;
  color: $color-heading;

  cursor: pointer;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(rgb(12, 12, 12), 0.2rem);
  }
}

.feature-text {
  padding: 4rem 4rem;
  margin-top: 3rem;

  .heading-tertiary {
    font-size: 2.3rem;
    color: $color-heading;
    font-weight: bold;
  }

  .paragraph {
    font-size: 1.4rem;
    word-spacing: 0.3rem;
  }
}

.state-text {
  padding: 10rem 5rem;
  height: 20%;
  color: $color-text;
  // background-color: lightgray;
  // border: 1px solid black;
  // position: absolute;

  .heading-state {
    font-size: 2rem;
  }

  .paragraph {
    font-size: 1.4rem;
  }
}

.footer-blog {
  .heading-footer {
    font-weight: bold;
    font-size: 1.7rem;
    text-align: left;
    color: $footer-text;
  }
  .footer-list {
    ul {
      margin-top: 2.5rem;
      li {
        list-style-type: none;
        padding: 1rem 1rem;
        font-size: 1.3rem;
        color: $footer-text;
      }
    }
  }
}

.form-page {
  .sign-up {
    .form-details {
      .form-head {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;

        img {
          margin-left: 1rem;
        }
      }
      .form-name {
        display: flex;
        justify-content: space-between;

        .firstName {
          margin-right: 2rem;
        }
      }
      .form-title {
        font-size: 1.2rem;
        color: rgb(30, 29, 29);
      }
      input {
        border: none;
        width: 100%;
        height: 4rem;
        background-color: whitesmoke;
        color: $color-heading;
        border-radius: 0.3rem;
        padding: 0rem 2rem;
        font-weight: bold;
        cursor: pointer;

        &:focus {
          outline: none !important;
          border: 0.2rem solid;
          border-image-slice: 1;
          border-image-source: linear-gradient(
            to right,
            $CTA-color,
            $CTA-color-hover
          );
        }
      }
      .blog-policy {
        font-size: 1.2rem;
        span {
          font-weight: bold;
        }
      }

      .page-ask {
        font-size: 1.2rem;
        font-weight: bold;
        color: rgb(30, 29, 29);

        a {
          text-decoration: none;
          font-size: 1.4rem;
        }
      }
    }
  }
}

.login {
  .login-details {
    .login-head {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.5rem;

      img {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }

    .login-title {
      font-size: 1.2rem;
      color: rgb(30, 29, 29);
    }

    input {
      border: none;
      width: 100%;
      height: 4rem;
      background-color: whitesmoke;
      color: $color-heading;
      border-radius: 0.3rem;
      padding: 0rem 2rem;
      font-weight: bold;
      cursor: pointer;

      &:focus {
        outline: none !important;
        border: 0.2rem solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(
          to right,
          $CTA-color,
          $CTA-color-hover
        );
      }
    }

    .page-ask {
      font-size: 1.2rem;
      font-weight: bold;
      color: rgb(30, 29, 29);

      a {
        text-decoration: none;
        font-size: 1.4rem;
      }
    }
  }
}
@media (max-width: 425px) {
  .header {
    .header__nav {
      &-left {
        border-bottom: 1px solid black;
        ul {
          min-height: 30%;

          li {
            margin: 2rem 0rem;
            a {
              font-size: 1.6rem;
              font-weight: bold;
              color: $color-heading;

              .arrow-light {
                display: none;
              }
              .arrow-dark {
                display: inline-block;
              }
            }
            img {
              // border: 1px solid yellow;
              // width: 10px;
              // height: 10px;
              // font-size: 30px;
            }
          }
        }
      }
      &-right {
        margin-top: 2rem;
        text-align: center;

        .log-in {
          display: block;
          color: black;
          padding: 0.5rem;
          margin-bottom: 1.5rem;
          font-weight: bold;
        }
      }
    }
    &__text-box {
      .heading-primary {
        &--main {
          display: block;
          font-size: 3rem;
          color: $color-text;
          margin-bottom: 2rem;

          span {
            display: block;
          }
        }
        &--sub {
          color: $color-text;
          display: block;
          font-size: 1.7rem;
          margin-bottom: 4rem;
          span {
            display: block;
          }
        }
      }
    }
  }
  .heading-secondary {
    font-size: 3rem;
  }
  .feature-text {
    text-align: center;
    margin-top: -4rem;
    .heading-tertiary {
      font-size: 3rem;
    }
    .paragraph {
      font-size: 1.7rem;
    }
  }
  .state-text {
    text-align: center;
    margin-top: -10rem;
    padding: 5rem 5rem;
    .heading-state {
      font-size: 3rem;
    }
  }
  .footer-blog {
    .heading-footer {
      font-weight: bold;
      font-size: 1.7rem;
      text-align: center;
    }
    .footer-list {
      ul {
        margin-top: 2rem;
        margin-bottom: 3rem;
        li {
          text-align: center;
        }
      }
    }
  }
  .form-page {
    .sign-up {
      .form-details {
        .form-head {
          font-size: 1.8rem;
        }

        .form-name {
          flex-direction: column;

          .firstName {
            margin-right: 0rem;
            margin-bottom: 1.5rem;
          }
        }
      }
    }

    .login {
      .login-details {
        .login-head {
          font-size: 1.8rem;

          span {
            display: none;
          }
        }
      }
    }
  }
}
