.section-feature {
  min-height: 90vh;

  &__img {
    overflow: hidden;
    .editor-desktop {
      width: 100%;
      height: 100%;
      margin-left: 14rem;
    }
    .editor-mobile {
      display: none;
    }
  }
}
.section-state {
  height: 60vh;
  background-color: $background-dark;
  border-bottom-left-radius: 10rem;
  border-top-right-radius: 10rem;
  background-image: url(../images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: top -60rem left -20rem;

  &__img {
    .phone-img {
      width: 100%;
      height: 100%;
      margin-top: -8rem;
    }
  }
}

.section-tool {
  &__img {
    overflow: hidden;
    .img-desktop {
      width: 100%;
      height: 100%;
      margin-left: -15.5rem;
    }
    .img-mobile {
      display: none;
    }
  }
}

.footer-blog {
  background-color: $background-footer;
  border-top-right-radius: 10rem;
  min-height: 50vh;
  padding: 2rem 0rem;

  .heading-footer {
    padding: 1rem 1rem;
  }
}

.form-page {
  // position: relative;
  .sign-up-img {
    padding: 1rem 1.5rem;
    .close-form {
      width: 35px;
      height: 35px;
    }
  }

  .sign-up {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 60vh;
    width: 70%;
    // top: 0;
    // left: 0;
    position: fixed;
    background-image: linear-gradient(
      to right bottom,
      rgba($CTA-color, 1),
      rgba($CTA-color-hover, 1)
    );
    border-radius: 0.5rem;
    z-index: 15;

    .form-details {
      border: 2px solid yellow;
      padding: 2rem 3rem;

      // .form-head {
      //   display: none;
      // }
    }

    &__img {
      width: 100%;
      height: 100%;
      border: 2px solid green;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .overlay {
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }
}
@media (max-width: 425px) {
  .section-feature {
    &__img {
      .editor-desktop {
        display: none;
      }
      .editor-mobile {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
  .section-state {
    height: 80vh;
    margin-top: 23rem;
    background-size: cover;
    background-position: center top -10rem;

    &__img {
      .phone-img {
        width: 100%;
        height: 100%;
        margin-top: -15rem;
      }
    }
  }

  .section-tool {
    &__img {
      .img-desktop {
        display: none;
      }
      .img-mobile {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
  .footer-blog {
    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 3rem;
    }
  }

  .Form-page {
    .sign-up {
      position: absolute;
      top: 60%;
    }
  }
}
