.header {
  height: 75vh;
  background-color: rgba($CTA-color, 1);
  background-image: url(../images/bg-pattern-intro-desktop.svg);
  background-position: center;
  border-bottom-left-radius: 5rem;
  padding: 4rem;
  position: relative;

  &__text-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 85%;
  }
}
.open-hamburger {
  display: none;
}
.display-hamburger {
  display: none;
}
.close-hamburger {
  display: none;
}

@media (max-width: 425px) {
  .header {
    padding: 3rem 2rem;
    height: 70vh;
    background-image: url(../images/bg-pattern-intro-mobile.svg);

    .open-hamburger {
      display: block;
      width: 30px;
      height: 30px;
    }
    .hide-open-hamburger {
      display: none;
    }
    .close-hamburger {
      display: none;
    }
    .display-close-hamburger {
      display: block;
    }
  }
}
